.topnav {
    width: 100%;
    position: fixed;
    background: #2f2f2f;
}

.topnav a {
    color: #fff;
    padding: 15px 15px;
    display: none;
    float: none;
    text-align: left;
    margin: 0;
}

.topnav a :hover {
    background: #808080
}

.topnav a.active {
    background-color: #91b852;
}

.topnav a.icon {
    width: 23px;
    height: 19px;
    float: right;
    padding: 15px;
    display: block;
}

.topnav a.icon .line {
    display: block;
    background-color: #fff;
    height: 3px;
    margin: 2px;
}

.topnav.open a {
    display: block;
}

.topnav.open .icon {
    position: absolute;
    right: 0;
    top: 0;
}


@media only screen and (min-width:768px) {

    .topnav a.icon {
        display: none;
    }

    .topnav a {
        float: left;
        display: block;
        text-align: center;
    }

}