button {
    width: 100%
}

.esqueceu-senha {
    float: right;
    font-size: 12px;
}

input[type="email"],
[type="password"] {
    width: 100%
}

.box {
    width: 300px;
}

.campo-senha {
    position: relative;
    width: 100%;
}

.campo-senha input {
    width: 100%;
    padding-right: 40px;
    /* espaço para o olho */
    box-sizing: border-box;
    height: 35px;
    font-size: 16px;
}


.campo-senha .olho {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
